# Homelab Server Configuration
SERVER_IP=192.xxx.x.xxx
SERVER_USER=root-user
SSH_KEY_PATH=~/.ssh/id_ed25519
TAILSCALE_AUTH_KEY=ts_xxx

# Set to false if target user has passwordless sudo configured
ASK_BECOME_PASS=true

